<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Express CRUD</title>
    </head>
    <body>
        <h1>Users</h1>
        
        <a href="/create">New User</a>

        <table>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
            <% users.forEach((u) => { %>
                <tr>
                    <td><%= u.id%></td>
                    <td><%= u.firstName%></td>
                    <td><%= u.lastName%></td>
                    <td><a href="/update/<%= u.id%>">Edit</a></td>
                    <td><a href="/delete/<%= u.id%>">Delete</a></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>